<div class="whatsapp-generator">
 
<h2>{{'Mensajes enviados' | translate}}</h2>

    <p class="no-messages" data-ng-if="!sentMessages.length">
        {{'No hay mensajes enviados' | translate}}
    </p>


    <ul class="list" data-ng-if="sentMessages.length">
        <li data-ng-repeat="(k,message) in sentMessages| orderBy:'-time'" class="list-item float-left">

            <div class="float-left">
                <span class="list-item-phone">
               {{message.phone}}
            </span>
                <time class="list-item-time">{{message.time | date:'dd/MM/yyyy - HH:mm'}}</time>
            </div>


            <p data-ng-if="message.text">
                {{message.text}}
            </p>

            <p data-ng-if="!message.text" class="no-text">
                {{'Sin texto' | translate}}
            </p>

            <span class="delete" data-ng-click="deleteMessage(message)">
                <img src="images/trash.svg">
            </span>

        </li>


    </ul>
    <div class="float-left bottom-menu">
        <a href="#!/">{{'Enviar mensaje' | translate}}</a>
    </div>
</div>

<a  href="#!/contact-me" class="contact-button">
    <img src="images/email.svg">
    {{'Contactame' | translate}}
</a>